<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About page</title>
  </head>
  <body>
      {{> header}}
      <p>asdlkasnfljnagfojan</p>
      <a href = "google.com">yeah boy</a>
      {{> footer}}
  </body>
</html>
