<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Help page</title>
  </head>
  <body>
      {{> header}}
      <p>asdlkasnfljnagfojan</p>
      <p>{{screamIt welcomeMessage}}</p>

      {{> footer}}
  </body>
</html>
