<!DOCTYPE html>
<html>
\    <meta charset="utf-8">
    <title>Project page</title>
  </head>
  <body>
      {{> header}}
      <p>asdlkasnfljnagfojan</p>
      <p>{{screamIt welcomeMessage}}</p>
      <p>This my portfolio lol</p>

      {{> footer}}
  </body>
</html>
